<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Estudiante</title>
</head>
<body>
  <h1>Detalles del estudiante</h1>
  <h3>Nombre:<small> {{estudiante.nombre}}</small></h3>
  <h3>Apellido: <small>{{estudiante.apellido}}</small></h3>
  <h3>Edad: <small>{{estudiante.edad}}</small></h3>
  <h3>Genero: <small>{{estudiante.genero}}</small></h3>
  <h3>Teléfono: <small>{{estudiante.telefono}}</small></h3>
  <h3>Email: <small>{{estudiante.email}}</small></h3>

  
</body>
</html>